<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>重理工图书馆</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header_1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/theme_1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="{% static 'js/html5.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/ie6.js'%}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <meta name="referrer" content="no-referrer" />

</head>

<body>
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到<a href="{% url 'index:index' %}">重理工图书馆</a></div>
            <div class="fr">
                <div class="login_btn fl">
                    {% if request.session.user.islogin %}
                    欢迎您：<em>{{ request.session.user.username }}</em>
                    <span>|</span>
                    <a href="{% url 'user:logout' %}">退出</a>
                    {% else %}
                    <a href="{% url 'user:login' %}">登录</a>
                    <span>|</span>
                    <a href="{% url 'user:register' %}">注册</a>
                    {% endif %}
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="{% url 'user:personalinfo' %}">用户中心</a>
                    <span>|</span>
                    <a href="{% url 'index:showcart' %}">我的书单</a>
                    <span>|</span>
                    <a href="{% url 'index:borrowed' %}">借阅历史</a>
                </div>
            </div>
        </div>
    </div>
    <div class="search_bar clearfix">
        <a href="{% url 'index:index' %}" class="logo fl">
            <img style="width: 50px;" src="https://static-data.gaokao.cn/upload/logo/187.jpg"></a>
        <div class="search_con fl">
            <form role="search" method="get" id="searchform" action="{% url 'index:search' %}">
                <input type="search" class="input_text fl" name="search" placeholder="搜索图书">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
        </div>
        <div class="guest_cart fr">
            <a href="{% url 'index:showcart' %}" class="cart_name fl">我的书单</a>
            <div class="goods_count fl" id="show_count"></div>
        </div>
    </div>

    <div class="center_con clearfix">

        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">猜你喜欢</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <!-- <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a> -->
            </div>

            <div class="goods_con clearfix">
                <ul class="goods_list fl">
                    <span></span>
                    {% for book in book_rec %}
                    <li>
                        <h4><a href="{% url 'index:detail' %}?bid={{ book.bid }}">{{ book.bname}}</a></h4>
                        {% with imgl=book.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">热门书籍</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=0&page=1&sortType=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <ul class="goods_list fl">
                    <span></span>
                    {% for book in book_hot %}
                    <li>
                        <h4><a href="{% url 'index:detail' %}?bid={{ book.bid }}">{{ book.bname}}</a></h4>
                        {% with imgl=book.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">高分书籍</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=0&page=1&sortType=2" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <ul class="goods_list fl">
                    <span></span>
                    {% for book in book_high_score %}
                    <li>
                        <h4><a href="{% url 'index:detail' %}?bid={{ book.bid }}">{{ book.bname}}</a></h4>
                        {% with imgl=book.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">小说</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=1&page=1&sortType=0" class="goods_more fr">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">

                <ul class="goods_list fl">
                    <span></span>
                    {% for book1 in book1s%}
                    <li>

                        <h4><a href="{% url 'index:detail' %}?bid={{ book1.bid }}">{{ book1.bname}}</a></h4>
                        {% with imgl=book1.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book1.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book1.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">历史</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=2&page=1&sortType=0" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>


            <div class="goods_con clearfix">

                <ul class="goods_list fl">
                    <span></span>
                    {% for book2 in book2s%}
                    <li>

                        <h4><a href="{% url 'index:detail' %}?bid={{ book2.bid }}">{{ book2.bname}}</a></h4>
                        {% with imgl=book2.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book2.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book2.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">文学</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=3&page=1&sortType=0" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>


            <div class="goods_con clearfix">

                <ul class="goods_list fl">
                    <span></span>
                    {% for book3 in book3s%}
                    <li>

                        <h4><a href="{% url 'index:detail' %}?bid={{ book3.bid }}">{{ book3.bname}}</a></h4>
                        {% with imgl=book3.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book3.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book3.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">日本</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=4&page=1&sortType=0" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>


            <div class="goods_con clearfix">

                <ul class="goods_list fl">
                    <span></span>
                    {% for book4 in book4s%}
                    <li>

                        <h4><a href="{% url 'index:detail' %}?bid={{ book4.bid }}">{{ book4.bname}}</a></h4>
                        {% with imgl=book4.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book4.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book4.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">外国文学</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=5&page=1&sortType=0" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>


            <div class="goods_con clearfix">

                <ul class="goods_list fl">
                    <span></span>
                    {% for book5 in book5s%}
                    <li>

                        <h4><a href="{% url 'index:detail' %}?bid={{ book5.bid }}">{{ book5.bname}}</a></h4>
                        {% with imgl=book5.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book5.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book5.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">中国</h3>
                <div class="subtitle fl">
                    <span>|</span>
                </div>
                <a href="{% url 'index:sortall' %}?sid=6&page=1&sortType=0" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>


            <div class="goods_con clearfix">

                <ul class="goods_list fl">
                    <span></span>
                    {% for book6 in book6s%}
                    <li>

                        <h4><a href="{% url 'index:detail' %}?bid={{ book6.bid }}">{{ book6.bname}}</a></h4>
                        {% with imgl=book6.bimg %}
                        <a href="{% url 'index:detail' %}?bid={{ book6.bid }}"><img src="{{ imgl }}"></a>
                        {% endwith %}
                        <div class="prize">¥ {{ book6.bprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="book_online " name="图书馆首：新书上架_2" dd_name="新书上架" ddt-area="403754" ddt-floor="403754">
            <div id="component_403754"></div>
            <div class="book_online_title " name="m403754_pid5292_t9125"></div>
            <div class="roll_aa " id="mapid_403754_parent_5298_part_" marquee="true" name="m403754_pid5298_p" js="true"
                action="newclickroll" delay="500" prevnoneclass="btn_prev_none" nextnoneclass="btn_next_none" page="0"
                speed="0" display_count="" is_display_tab="1" noend="0">

                <li class="current"></li>
                <div class="over">
                    <ul class="list_aa" style="left:0;" type="rollbox">
                        <li type="rollitem" dd_name="第1帧">
                            <ul class="product_ul " id="component_403754__5298_5294__5294" ddt-area="5294" dd_name="书籍">
                                {% for book in book_new %}
                                <li class="line1 " nname="book-65152-9164_2-470620_1" ddt-pit="1" dd_name="1">
                                    <a title="{{ book.bname}}" class="img"
                                        href="{% url 'index:detail' %}?bid={{ book.bid }}" target="_blank">
                                        <img src="{{book.bimg}}" alt="{{ book.bname}}">
                                    </a>
                                    <p class="name" ddt-src="29390803">
                                        <a title="{{ book.bname }}" href="{% url 'index:detail' %}?bid={{ book.bid }}"
                                            target="_blank" style=" ">{{ book.bname}}</a>
                                    </p>
                                    <p class="author">
                                        <span class="author_t"></span>{{ book.bpublisher}}
                                    </p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">¥</span>
                                            <span class="num">{{ book.bprice }}</span>
                                        </span>
                                    </p>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="book_hot " name="图书馆首：热门作者_2" dd_name="热门作者" ddt-area="403762" ddt-floor="403762">
            <div id="component_403762"></div>
            <div class="tab_box_aa " id="component_map_id_403762_part_id_5238" name="m403762_pid5257_p5238" js="true"
                itemclass="" action="hover" delay="0" speed="0" rand="0" area="1" barclass="on" updown="1" level="2">
                <div class="head  head" ddt-area="5238" dd_name="tab头">
                    <ul class="tab_aa">
                        <li class="first on" type="bar"><span>作者</span></li>
                    </ul>
                </div>
                <div class="tab_content_aa tab_content_aa ">
                    <div class="content tab_1" type="item" dd_name="热门作者" style="display: block;">
                        <div class="hot_author " name="m403762_pid5257_5244_t9099">
                            <div class="con left" name="m403762_pid5257_5244_t9100">
                                <div class="con introduction" name="m403762_pid5257_5244_t9101">
                                    <ul class="list_aa " id="component_403762__5257_5244_5240__5240" ddt-area="5240"
                                        dd_name="作者介绍">
                                        <li class="line1 " nname="book-65152-9159_2-472762_1" ddt-pit="1" dd_name="1">
                                            <span class="num_logo">1<span>st</span></span>
                                            <a title="" class="img" href="{{ author.aimg }}" target="_blank">
                                                <img src="http://img55.ddimg.cn/9002790222207455.jpg" alt=""></a>
                                            <p class="author">
                                                <span class="author_t"></span>
                                                <a href="{% url 'index:authordetail' %}?aid={{ author.aid }}" target="_blank">{{ author.aname }}</a>
                                            </p>
                                            <p class="detail">
                                                <span class="detail_t"></span>{{ author.adesc }}
                                            </p>
                                        </li>
                                    </ul>

                                </div>
                                <div class="con zuopin" name="m403762_pid5257_5244_t9102">
                                    <span>作品</span>
                                </div>
                                <div class="con author_books" name="m403762_pid5257_5244_t9103">
                                    <ul class="list_aa " id="component_403762__5257_5244_5242__5242" ddt-area="5242"
                                        dd_name="作者作品">
                                        {% for book in book_author %}
                                        <li class="line1 " nname="book-65152-9159_2-472763_1" ddt-pit="1" dd_name="1">
                                            <a title="{{ book.bname }}" class="img" href="{% url 'index:detail' %}?bid={{ book.bid }}" target="_blank">
                                                <img src="{{ book.bimg }}" alt="{{ book.bname }}">
                                            </a>
                                            <p class="name" ddt-src="29366030">
                                                <a title="{{ book.bname }}" href="{% url 'index:detail' %}?bid={{ book.bid }}" target="_blank">{{book.bname}}</a>
                                            </p>
                                            <p class="star">
                                                <span class="title"></span>
                                                <span class="level">
                                                    <span style="width: 94.6%;"></span>
                                                </span>
                                            </p>
                                            <p class="price">
                                                <span class="rob">
                                                    <span class="sign">¥</span>
                                                    <span class="num">{{ book.bprice }}</span>
                                                </span>
                                            </p>
                                            <div class="icon_pop">
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                            <div class="con right" name="m403762_pid5257_5244_t9104">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
</body>

</html>