<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <link rel="stylesheet" type="text/css" href="/static/css/favor.css">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/favor.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <script src="{% static 'js/html5.js' %}"></script>
    <title>注册 -- 重理工图书馆</title>
</head>
<body>

<div class="ddnewhead_wrap">
    <div class="ddnewhead_content">
        <div class="ddnewhead_logo">
            <a href="{% url 'index:index' %}" title="返回首页">
                <img style="width: 50px;" src="https://static-data.gaokao.cn/upload/logo/187.jpg">
            </a>
        </div>
        <div class="ddnewcarthead_bottom"></div>
    </div>
</div>
<form id='favorFrom' action="{% url 'user:favor' %}" method="post">
    {% csrf_token %}
    <div class="check-card">
        <div style="width: 100%;padding-bottom: 10px;font-size: 20px;">
            偏好设置
        </div>
        {% for item in category %}
        <div class="check-card-item">
            <input type="checkbox" id="check{{ item.idx }}" name="check{{ item.idx }}" value="{{item.idx}}">
            <label for="check{{ item.idx }}" class="radio"></label>
            <div class="check-card-bg"></div>
            <div class="check-card-body">
                <div class="check-card-toggle">
                    <span></span>
                    <span></span>
                </div>
                <div class="check-card-body-in">
                    <h3 class="check-card-title">{{item.text}}</h3>
                </div>
                <div class="check-card-cancel">✖</div>
            </div>
        </div>
        {% endfor %}
        <div class="submit">
            <input id="submit_favor" class="btn_submit" type="button" value="选好了">
        </div>
    </div>
</form>
<div class="footer_nav_box">
    <div class="footer_nav">
        <a href="#" target="_blank" rel="nofollow">公司简介</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">诚聘英才</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">手机推书</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">网站联盟</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">官方Blog</a>
    </div>
    <div class="footer_copyright">
        <span>Copyright (C) 重理工图书馆 2004-2017, All Rights Reserved</span>
    </div>

    <!-- 有三个icon的时候加footer_icon2 -->
    {#
    <div class="footer_icon footer_icon2" style="padding-left: 55px;">#}
        {#
        <div class="validator"><a href="#" target="_blank" class="footer_img"><img
                src="../../static/images/validate.gif"></a></div>
        #}
        {#
        <div class="validator"><a href="#" target="_blank" class="footer_img"><img
                src="../../static/images/validate.gif"></a></div>
        #}
        {#
        <div class="validator"><a id="_pingansec_bottomimagesmall_brand" href="#" target="_blank"><img
                src="../../static/images/validate.gif"></a></div>
        #}
        {#
    </div>
    #}
    <div class="clear"></div>
</div>
</body>
</html>