.subject-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject-list{
    width: 70%;
}

.subject-item{
    width: 100%;
}

.operate_btn {
    display: inline-block;
    width: 88px;
    height: 28px;
    border: 1px solid #ff2832;
    font-size: 14px;
    color: #ff2832;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    background-color: #ffeded;
}

.operate_btn:hover{
    background-color: #ff2832;
    color:#ffeded;
    cursor: pointer;
}

#returnbook_btn{
    margin: 20px;
}